<h1>alert dismissing</h1>
<div class="alert">
    <p class="alert-close">x</p>
    <p class="alert-open">Esta ese una alerta que se puede cerrar</p>
</div>

<h1>acollapse</h1>
<button class="btn btn-collapse">Colapsar</button>
<div class="collapse-container">
    <p>Contenido:<br/>
    <hr>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor egestas dui, auctor elementum diam volutpat a. Nullam placerat odio id urna maximus, vel molestie lorem accumsan. Pellentesque non leo sit amet leo mattis imperdiet id eget ante. Quisque vulputate risus vel lorem pulvinar eleifend. Quisque rhoncus justo ultrices, dapibus nulla nec, euismod velit. Fusce eros diam, interdum porttitor libero vel, malesuada ornare nisi. Proin eu tortor tellus. Nulla facilisi. Phasellus tincidunt dolor sem, eu congue ipsum ultricies in. Mauris sed lacus tristique, fermentum purus ac, dictum nisi. Sed pharetra est non ipsum euismod, eget pellentesque mauris accumsan. Nulla consectetur mollis nulla, in aliquam turpis mollis accumsan. Etiam non porttitor orci.
    </p>


</div>

<h1>collapse Accordion</h1>
<div class="accordion">
    <div class="collapse-accordion-item">
        <div class="btn-accordion-container">
            <button target="accordion-1" class="btn-accordion">Accordion 1</button>
            <div id="accordion-1" class="collapse-accordion">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor egestas dui, auctor elementum diam volutpat a. Nullam placerat odio id urna maximus, vel molestie lorem accumsan. Pellentesque non leo sit amet leo mattis imperdiet id eget ante.</p>
            </div>
        </div>
        <div class="collapse-accordion-item">
            <button target="accordion-2" class="btn-accordion">Accordion 2</button>
            <div id="accordion-2" class="collapse-accordion">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor egestas dui, auctor elementum diam volutpat a. Nullam placerat odio id urna maximus, vel molestie lorem accumsan. Pellentesque non leo sit amet leo mattis imperdiet id eget ante.</p>
            </div>
        </div>
        <div class="collapse-accordion-item">
            <button target="accordion-3" class="btn-accordion">Accordion 3</button>
            <div id="accordion-3" class="collapse-accordion">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor egestas dui, auctor elementum diam volutpat a. Nullam placerat odio id urna maximus, vel molestie lorem accumsan. Pellentesque non leo sit amet leo mattis imperdiet id eget ante.</p>
            </div>
        </div>
    </div>   
</div>
