.alert {
    width: 90%;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: azure;
}

.alert-close {
    text-align: right;
    margin-top: -2px;
    margin-right: 4px;
    font-weight: bold;
    cursor: pointer;
}

.btn {
    border-radius: 0.25rm;
    color: #fff;
    background-color: #007;
    border-color: rgb(97, 97, 179);
    padding: 0.25rem 0.5rem ;
    cursor: pointer;
}

.collapse-container {
    display: none;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: azure;
}

.btn-accordion {
    border-radius: 0.25rm;
    color: #fff;
    background-color: #007;
    border-color: rgb(97, 97, 179);
    padding: 0.25rem 0.5rem ;
    cursor: pointer;
}

.collapse-accordion {
    display: none;
    width: 50%;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: azure;
}